<h3>Bookings:</h3>

<ul class="list-group confirm-booking-list">

{{#each bookings as |booking|}}
    {{#if booking.cancelled}}
        <li class="list-group-item text-muted">{{booking.user.first_name}} {{booking.user.last_name}}</li>
    {{else}}
        {{#if booking.confirmed}}
        <li class="list-group-item d-flex"> Booking user: {{booking.user.first_name}} {{booking.user.last_name}}  <span class="ml-auto text-success">Confirmed</span></li>
        {{else}}
        <li class="list-group-item d-flex"> Booking user: {{booking.user.first_name}} {{booking.user.last_name}} <button id="confirm" data-id="{{booking.booking_id}}" class="ml-auto btn btn-success">Confirm booking</button></li>
        {{/if}}
    {{/if}}
{{/each}}

</ul>