<h3>Bookings you have made:</h3>

<ul class="list-group">

{{#each bookings as |booking|}}
    {{#if booking.cancelled}}
        <li class="list-group-item text-muted">{{booking.user.first_name}} {{booking.user.last_name}}</li>
    {{else}}
        {{#if booking.confirmed}}
        <li class="list-group-item d-flex" data-toggle="tooltip" data-placement="top" data-html="true" title="Booking starts: {{format_date booking.start}} Booking Ends: {{format_date booking.end}}"><span>{{booking.title}}</span> <span class="ml-auto text-success">Confirmed</span></li>
        {{else}}
        <li class="list-group-item d-flex" data-toggle="tooltip" data-placement="top" data-html="true" title="Booking starts: {{format_date booking.start}} Booking Ends: {{format_date booking.end}}"><span>{{booking.title}}</span> <span class="ml-auto text-danger">Unconfirmed</span></li>
        {{/if}}
    {{/if}}
{{/each}}

</ul>