<h1> Dashboard </h1>

<section> 
    
    <div class="jumbotron">
        <h2 class="display-4"> {{ user.first_name }} {{ user.last_name }}</h2>
    </div>
    <hr class="my-4">

</section>

<section id="current-services">

    {{#each services as |service|}}
    <div class="card" id="services">
        <a href="/services/{{id}} " class="card-body">
            <h3 class="card-title"> {{title}} - {{id}}</h3>
        </a>
    </div>
    {{else}}
    <p>You have not listed any services yet!</p>
    {{/each}}

</section>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-service-modal">List a New Service</button>

{{!-- add service modal  --}}
<section id="add-service-modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add New Service</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="service-form">
                <div class="modal-body">
                    <label for="title"> Service Title </label><br>
                    <input type="text" id="service-title" placeholder="Service Title">
                
                    <label for="industry"> Industry </label>
                    <input id="industry"></input>
                    
                    
                    <label for="description"> Description </label>
                    <textarea id="description"></textarea>
                    
                    
                    <label for="start"> Session Start </label>
                    <input id="start" type="date"></input>
                    
                    
                    <label for="end"> Session End </label>
                    <input id="end" type="date"></input>
                    
                    
                    <label for="hourly-rate"> Hourly Rate </label>
                    <input id="hourly-rate"></input>
                    
                    
                    <label for="max-bookings"> Max Bookings </label>
                    <input id="max-bookings"></input>
                </div>
                <div class="modal-footer">
                    <button id="add-new-service" data-bs-dismiss="modal"> Add </button>
                </div> 
            </form>
        </div>
    </div>
</section>




{{!---Booking section start ---}}

{{! TO DO: Split section into bookings user has confirmed/needs to confirm and sessions booked by the user}}
<section>
    <div class="container-fluid">
        <div class="row p-3">
            <div class="col-lg-6 align-items-center" style="border-style: solid; border-color: black">
                {{#each bookings as |booking|}}
                <div>

                </div>
                {{else}}
                <h3> No bookings to confirm 😿 </h3>
                {{/each}}
            </div>

            {{!--- Display sessions booked by the user ---}}

            <div class="col-lg-6" style="border-style: solid; border-color: black ">
                {{#if bookings }}
                {{> booking-list }}
                {{else}}
                <h3> You have no current bookings 😿 </h3>
                {{/if}}
            </div>
        </div>
    </div>

</section>

<script src="/js/dashboard.js"></script>