<h1> Dashboard </h1>

<section> 
    
    <div class="jumbotron">
        <h2 class="display-4"> {{ user.first_name }} {{ user.last_name }}</h2>
    </div>
    <hr class="my-4">

</section>

<section id="current-services">

    {{#each services as |service|}}
    <div class="card" id="services">
        <a href="/service/{{id}} " class="card-body">
            <h3 class="card-title"> {{title}}</h3>
        </a>
    </div>
    {{else}}
    <p>You have not listed any services yet!</p>
    {{/each}}

</section>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-service-modal">List a New Service</button>

{{!-- add service modal  --}}
<section id="add-service-modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add New Service</h3>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span></button>
            </div>
            <form id="service-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title"> Service Title </label>
                        <input type="text" class="form-control" id="title" placeholder="Service Title">
                    </div>

                    <div class="form-group">
                        <label for="industry"> Industry </label>
                        <select name="industry" id="industry">
                            {{#each industries as |industry|}}
                            <option value="{{industry.id}}">{{industry.industry}}</option>
                                {{/each}}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="description"> Description </label>
                        <textarea id="description" class="form-control"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="start"> Session Start </label>
                        <input id="start" class="form-control" type="datetime-local"></input>

                    
                        <label for="end"> Session End </label>
                        <input id="end" class="form-control" type="datetime-local"></input>
                    </div>
                    
                    <div class="form-group">
                        <label for="hourly-rate"> Hourly Rate </label>
                        <input id="hourly-rate" class="form-control"></input>
                    </div>
                    
                    <div class="form-group">
                        <label for="max-bookings"> Maximum Number of Bookings </label>
                        <input id="max-bookings" class="form-control"></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="message-box" class="text-danger"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="add-new-service" class="btn btn-primary" type="submit"> Add </button>
                </div> 
            </form>
        </div>
    </div>
</section>




{{!---Booking section start ---}}

{{! TO DO: Split section into bookings user has confirmed/needs to confirm and sessions booked by the user}}
<section>
    <div class="container-fluid">
        <div class="row p-3">
            <div class="col-lg-6 align-items-center">
         
                {{#if bookingsForUserService }}
                <h3>Bookings for your services:</h3>
                <div id="confirmation-messagebox" class="text-danger"></div>
                <ul class="list-group confirm-booking-list">
                {{#each bookingsForUserService as |booking|}}
                    {{#if booking.cancelled}}
                        <li class="list-group-item text-muted">{{booking.user.first_name}} {{booking.user.last_name}}</li>
                    {{else}}
                        {{#if booking.confirmed}}
                        <li class="list-group-item d-flex" data-toggle="tooltip" data-placement="top" data-html="true" title="Booking starts: {{format_date booking.start}} Booking Ends: {{format_date booking.end}}">{{booking.title}} <br> Booking user: {{booking.user.first_name}} {{booking.user.last_name}}  <span class="ml-auto text-success">Confirmed</span></li>
                        {{else}}
                        <li class="list-group-item d-flex" data-toggle="tooltip" data-placement="top" data-html="true" title="Booking starts: {{format_date booking.start}} Booking Ends: {{format_date booking.end}}">Service title: {{booking.title}} <br> Booking user: {{booking.user.first_name}} {{booking.user.last_name}} <button id="confirm" data-id="{{booking.booking_id}}" class="ml-auto btn btn-success">Confirm booking</button></li>
                        {{/if}}
                    {{/if}}
                {{/each}}
                </ul>

                {{else}}
                <h3> No bookings to confirm 😿 </h3>
                {{/if}}
            </div>

            {{!--- Display sessions booked by the user ---}}

            <div class="col-lg-6">
                {{#if bookings }}
                {{> dashboard-bookings }}
                {{else}}
                <h3> You have no current bookings 😿 </h3>
                {{/if}}
            </div>
        </div>
    </div>

</section>

<script src="/js/dashboard.js"></script>
{{#if bookingsForUserService}}
<script src="/js/confirm-booking.js"></script>
{{/if}}