<h1> Dashboard </h1>
<section id="current-services">

    {{#each services as |service|}}
    <div class="card" id="services">
        <a href="/services/{{id}} " class="card-body">
            <h3 class="card-title"> {{title}} - {{id}}</h3>
        </a>
        <h5 class="card-subtitle mb-2 text-muted"> {{ Industry }} </h5>
        <p class="card-text"> {{ description }}</p>

        &nbsp;

        <h6> Session time: {{start}}-{{end}} </h6>

        &nbsp;
        <h6> Hourly Rate: {{hourly_rate}} </h6>

        &nbsp;
        <h6> Max bookings: {{max_bookings}} </h6>
    </div>
    {{/each}}

</section>

<div id="new-service">
    <button href="/api/service/create"> + New Service </button>
</div>

{{!---Booking section start ---}}

<section>

    {{#each bookings as |booking|}}
    <div>
        <h4>#{{id}}</h4>
        <ul class="client-list">
            {{#each confirmed}}
            <li> Session time: {{start}}-{{end}} </li>
            {{/each}}
    </div>
    {{else}}
    <h3> You have no current bookings 😿 </h3>
    {{/each}}

</section>