<section>
    {{#each service}}
    <div class="card" id="services">
        <a href="/services/{{id}} " class="card-body">
            <h3 class="card-title"> {{title}} - {{id}}</h3>
        </a>
            <h5 class="card-subtitle mb-2 text-muted"> {{ Industry }} </h5>
            <p class="card-text"> {{ description }}</p>

            &nbsp;

            <h6> Session time: {{start}}-{{end}} </h6>

            &nbsp;
            <h6> Hourly Rate: {{hourly_rate}} </h6>

            &nbsp;
            <h6> Max bookings: {{max_bookings}} </h6>
    </div>
    {{/each}}
</section>

<section id="update-service">
    <div class="card-body">
        <h3 class="card-title">Edit Service</h3>
        <form id="updatedService">
            <div class="card-text"></div>
            <label for="updatedTitle"> Service Title</label><br>
            <input type="text" id="updatedTitle" value="{{service.title}}">
    </div>
    <div class="card-text"></div>
        <label for="updatedIndustry">Industry</label>
        <input id="updatedIndustry" value="{{service.industry}}"></input>
    </div>
    <div class="card-text"></div>
        <label for="updatedDescription"> Description </label>
        <textarea id="updatedDescription" value = "{{service.description}}"></textarea>
    </div>
    <div class="card-text"></div>
        <label for="updatedDescription"> Session Start </label>
        <input type= "text" id="updatedSessionStart" value ="{{service.start}}"></input>
        <label for="updatedDescription"> Session End </label>
        <input type= "text" id="updateSessionEnd" value ="{{service.end}}"></input>
    </div>
    <div class="card-text"></div>
        <label for="updatedHourlyRate"> Hourly Rate </label>
        <input id="updatedHourlyRate" value= "{{service.hourly_rate}}"></input>
    </div>
    <div class="card-text"></div>
        <label for="updatedDescription"> Max bookings </label>
        <input id="updatedIndustry" value= "{{service.max_bookings}}"> </input>
    </div>

    <a class="btn btn-primary btn-lg" type="submit"> Update </a>
    <a class="btn btn-primary btn-lg" type="submit"> Cancel </a>

        </form>
    </div>
</section>