{{!-- page for rendering one service --}}
<section>

    <div class="card mt-4" id="service">
        <div class="card-body">

            <h2 class="card-title" data-id="{{id}}">{{title}}</h2>

            <h5 class="card-subtitle mb-2 text-muted">
                {{#each industries as |industry|}}
                {{ industry }}
                {{/each}}
            </h5>
            <p class="card-text"> {{ description }}</p>

            &nbsp;

            <h6> Session time: {{start}}-{{end}} </h6>

            &nbsp;
            <h6> Hourly Rate: {{hourly_rate}} </h6>

            &nbsp;
            <h6> Max bookings: {{max_bookings}} </h6>

            <div class="mt-5">
            {{{check_availability bookings max_bookings}}}
            </div>

            <div class="mt-5">
            {{#if bookings}}
                {{> booking-list }}
            {{else}}
                <h3>No bookings yet for this service</h3>
            {{/if}}
            </div>
        </div>
    </div>
</section>